@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
  margin-top: 0.5rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.6rem;
  gap: 1.25rem;
  margin-top: 1.3rem;
}

.nav__item {
  color: #000;
}

.nav__item:hover {
  color: #fff;
  background-color: #da1b22;
  padding: 0.5rem;
  border-radius: 1.3rem;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2rem;
  height: .4rem;
  border-radius: 1.3rem;
  margin: 0.3125rem auto;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.img {
  width: 14rem;
}

.galeria{
  background-image: url(../assets/img/Logo-RBD.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.botao__galeria{
  padding: .625rem;
  background-color: #da1b22;
  text-decoration: none;
  color: #fff;
  border-radius: 1.25rem;
}

.botao__galeria:hover{
  background-color: #da1b21a6;
  color:#000;
}

.logos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.logo{
  width: 7rem;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 0.75rem;
  height: 17vh;
  background-color: #da1b22;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .hamburguer {
    display: block;
    margin-right: 0.3125rem;
    margin-top: 0.3125rem;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(0.7rem) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
  }

  .nav__menu {
    width: 100%;
    position: fixed;
    left: -100%;
    top: 9.375rem;
    text-align: center;
    flex-direction: column;
    transition: height 0.7s ease-in-out;
    background-color: #da1b22;
    border-radius: 2.5rem;
  }

  .nav__list{
    display: flex;
    flex-direction: column;

  }

  .nav__item {
    margin: 1rem 0;
  }

  .nav__item:hover {
    color: #fff;
    padding: 0;
    border-radius: 0;
  }

  .nav__menu.active {
    left: 0;
    
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .galeria.active{
    margin-top: 10rem;
  }

  .logos{
    display: flex;
    flex-direction: column;
  }

  .logo{
    width: 3rem;
  }
}
